.contentNavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
}
.btnTwitter{
    cursor: pointer;
}
.lImg{
    max-height: 50%;
}
.faTwitter{
    color: aliceblue;
    transition: all .5s;
}
.faTwitter:hover{
    color: rgb(0, 136, 255);
}

@media (width >= 650px) { 
    .contentNavbar{
        background-color: rgba(0, 0, 0, 0.76);
    }
    .contentNavbar div{
        margin: 6%;
    }
    .contentNavbar a{
        margin: 6%;
    }
    .FaQuote{
        font-size: 3rem;
    }
    .faTwitter{
        font-size: 3rem;
    }
    .faTwitter:hover{
        font-size: 4rem;
    }
}

@media (width <= 650px) { 
    .contentNavbar{
        background-color: none;
    }
    .contentNavbar div{
        margin: 12%;
    }
    .contentNavbar a{
        margin: 12%;
    }
    .FaQuote{
        font-size: 1rem;
    }
    .faTwitter{
        font-size: 1rem;
    }
    .faTwitter:hover{
        font-size: 1.5rem;
    }
}
